<mat-toolbar  color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Forgot Password</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="column" fxLayoutAlign="center center" class="container">
    <form [formGroup]="forgotPasswordForm" fxLayout="column" fxLayoutAlign="center center">
      <!-- Note: removed 'required' attribute from the email input -->
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
  
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="handleSubmit()">Submit</button>
      </div>
    </form>
  
    <!-- Display the success or error message -->
    <div *ngIf="responseMessage" class="message">
      {{ responseMessage }}
    </div>
  </div>
  