<mat-toolbar  color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Change Password</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<h2 mat-dialog-title>Change Password</h2>
<div mat-dialog-content>
  <form [formGroup]="changePasswordForm" (submit)="handlepasswordChangeSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Old Password</mat-label>
      <input matInput type="password" formControlName="oldPassword" [type]="oldPassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility('oldPassword')">
        <mat-icon>{{ oldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword" [type]="newPassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility('newPassword')">
        <mat-icon>{{ newPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirm New Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" [type]="confirmPassword ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility('confirmPassword')">
        <mat-icon>{{ confirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid || validateSubmit()">
      Save
    </button>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
  </form>
</div>

