<mat-nav-list appAccordion>
    <ng-container *ngFor="let menuitem of menuItems.getMenuitem()">
      <mat-list-item appAccordionLink
                     routerLinkActive="selected"
                     group="{{menuitem.state}}">
        <a class=""
           appAccordionToggle
           [routerLink]="['/cafe/', menuitem.state]"
           *ngIf="menuitem.type === 'link' && (menuitem.role === '' || menuitem.role === userRole)">
          <mat-icon>{{ menuitem.icon }}</mat-icon>
          <span>{{ menuitem.name }}</span>
        </a>
      </mat-list-item>
    </ng-container>
  </mat-nav-list>
  