<button mat-raised-button color="primary" class="add-category-button" (click)="handleAddAction()">
    Add Category
  </button>
  <div class="table-container">
      <mat-form-field class="filter-input">
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter Categories" />
      </mat-form-field>
    
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
       
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let category">{{ category.name }}</td>
        </ng-container>
    
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let category">
            <button mat-icon-button matSuffix (click)="handleEditAction">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
    
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      
    </div>
